.score_result {
    color: blue;
    display: flex;
}

.timer {
    color: black;
    font-size: 16px;
    display: flex;
    align-items: center;
}


.header {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 20px;
}

.center_text {
    display: flex;
    justify-content: center;
}


#answer_buttons {
    width: 150px;
    flex-direction: column;

}